<div class="post-comments">
    <% if(locals.user){ %>
        <form id="new-comment-form" action = "/comments/create" method = "post">
            <input type="text" name="content" placeholder="Type Here to add comment...">
            <input type="hidden" name="post" value = "<%= post._id %>">
            <input type="submit" value="Post Comment">
        </form>
    <% } %>
</div>

<div class="post-comments-list">
    <ul id="post-comments-<%= post._id %>">
    <% for(comment of post.comments){ %>
        <li>
            <p>
            <small><b><%= comment.content %></b></small>
            <small>| <%= comment.user.name %></small>
            <% if(locals.user && locals.user.id === comment.user.id){ %>
            <a href="/comments/destroy/<%= comment.id %>">X</a>
            <% } %>
            </p>
            <%= comment.likes.length %> Likes 
            <% if(locals.user){ %>
                | 
            <a href = "/likes/toggle?id=<%=comment.id%>&type=Comment">Like</a>
            <% } %>
        </li>
    <% } %>
    </ul>
</div>
<script src = "/js/add_comment.js"></script>