<div class="container main">
    <div class="row">
        <div id="feed-posts" class="col-lg-8 col-md-7 col-sm-11 col-xs-11 posts">
            <% if(locals.user) { %>
            <form action = "/posts/create" id = "new-post-form" method = "post">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><h4>Hi ! <%= user.name %> </h4></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" placeholder="Whats on your mind ?..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary post_button">POST</button>
            </form>
            <% } %>

            <%- include('post') %>
        </div>

        <div class="col-lg-4 col-md-5 d-none d-md-block d-xl-block d-xxl-block">
            <h3>Top Creators</h3>
            <div class="list-group users_list">
                <% for(let us of all_users){ %>
                <a href="/users/profile/<%= us.id %>" class="list-group-item list-group-item-action">
                    <img class="rounded-circle" alt="profile_pic" src="<%= us.avatar %>" width="50">
                    <%= us.name %>
                </a>
                <% } %>
            </div>

        </div>
    </div>
</div>

<script src = "/js/toggle_likes.js"></script>
<script src = "/js/add_comment.js"></script>
<script src = "/js/home_posts.js"></script>