<ul id = "post-list-container">
    <% for (post of locals.posts){ %>
        <li id = "post-<%= post._id %>">
            <hr/>
            <p>
                <b><%= post.content %></b> | 
                <small>by: <%= post.user.name %></small>
                
                <% if(locals.user && locals.user.id == post.user.id){ %>
                    <a class = "delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
                <% } %>
            </p>
            <span class = "likes_count"><%= post.likes.length %> </span>Likes 
            <% if(locals.user){ %>
                | 
            <a href = "/likes/toggle?id=<%=post.id%>&type=Post" class = "toggle_like">Like</a>
            <% } %>
            
            
            <%- include('comment') %>

            <hr/>
        </li>
    <% } %>
</ul>